name: Allure Report
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Run Tests
        run: mvn clean test

      - name: Debug Contents
        run: |
          ls -la target/
          ls -la target/allure-results/ || echo "NO ALLURE-RESULTS"

      - name: Generate Allure Report
        run: |
          npm install -g allure-commandline
          mkdir -p public
          allure generate target/allure-results/ -o public/ --clean || echo "No results"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./public
